<hr>
<h2>Form - Sophie and Caroline's test</h2>

  <form id="new-thread" action="/api/category" method="post">
    <label>Topic</label>
    <input type='text' id="thread-topic" name="thread[topic]" value="<%= category %>" readonly>
    <br>
    <label>Thread title:</label>
    <input type="text" id="thread-title" name="thread[title]" value="" placeholder="Title">
    <br>
    <label>Body:</label>
    <textarea name="thread[body]" id="thread-body" value="" placeholder="What do you want to say?"></textarea>
    <br>
    <input type="submit" value="Submit" id="submit-new-thread">
  </form>


  <hr>
  <h4>Threads:</h4>
  <ul id="threads">
    <% for(i=0; i < threads.length; i++) {%>

        <%= threads[i].topic %>
        <a href='/<%= threads[i].topic%>/<%= threads[i]._id %>'><%= threads[i].title %></a>
        <%= threads[i].body %>
        <br><br>

    <% } %>
    
  </ul>