<div class="section container">
  <div class="row">
    <form id="new-thread" action="/api/category" method="post">
      <label>Topic</label>
      <input type='text' id="thread-topic" name="thread[topic]" value="<%= category %>" readonly>
      <br>
      <label>Thread title:</label>
      <input type="text" id="thread-title" name="thread[title]" value="" placeholder="Title">
      <br>
      <label>Body:</label>
      <textarea name="thread[body]" id="thread-body" value="" placeholder="What do you want to say?"></textarea>
      <br>
      <input type="submit" value="Submit" id="submit-new-thread">
    </form>
  </div>
</div>

<div class="section container">
  <div class="row">
    <hr>
    <h4>Threads:</h4>
    <ul id="threads">
    
      <% for(i=0; i < threads.length; i++) {%>
        <a href='/<%= threads[i].topic%>/<%= threads[i]._id %>'>
          <h3><%= threads[i].title %></h3>
        </a>

        <!-- Once users has been integrated it should read as '13 mins ago by Bob Bobsmith' - CB -->
        <!--
        <p>Created: <%= threads[i].createdAt %> by <b>[username]</b></p>
        <p>Modified: <%= threads[i].updatedAt %> by <b>[username]</b></p> 
        -->   
        Last Updated: <i><%= moment(threads[i].updatedAt).fromNow() %></i> by <b>User</b>
        <hr>    
        <!-- Body should only be reserved for the show page (I think? - CB)-->
        <%= /* threads[i].body */ %>
      <% } %>      
    </ul>
  </div>
</div>