<!-- // This is a single thread page to test that the data is being put on the screen - CB -->

<div class="container">

  <div class="row">
    <div class="col-md-12">
      <a href="" class="edit-thread" data-id="<%= thread.id %>">Edit Thread</a>
      <hr>
      <form action="/api/category/<%= thread.id %>?_method=DELETE" method="post">
      <button type="submit" data-id="<%= thread.id %>" class="delete">Delete</button>
      </form>
      <!-- ORIGINAL THREAD -->

      <!-- The div.original-thread is hidden when the 'edit' button is clicked and replaced with the 'edit-thread-form' below -->
      <div class="original-thread">
        <p><b>Posted in:</b></p><p class="thread-topic"><%= thread.topic %></p>
        <hr>
        <h3>Title:</h3><h3 class="thread-title"><%= thread.title %></h3>
        <hr>
        <b>Body:</b> 
        <p class="thread-body"><%= thread.body %></p>
      </div>


      <!-- EDITABLE THREAD -->
      <!-- Any element with the class of editable is hidden until the 'edit' button is clicked
      -->
      <h3>This is the id: <%= thread.id %></h3>
      <form action="/api/category/<%= thread.id %>?_method=PUT" class="edit-thread-form editable">
      <!-- Thread Topic -->
      <p><b>Posted in:</b></p><p class="thread-topic"><%= thread.topic %></p>
        <select name="threadTopic" id="thread-topic" class="editable thread-topic">
          <option value="lifestyle">Lifestyle</option>
          <option value="tech">Tech</option>
          <option value="culture">Culture</option>
          <option value="world">World</option>
          <option value="business">Business</option>
          <option value="showbiz">Showbiz</option>
        </select>

        <hr>
        <h3>Title:</h3><h3 class="thread-title"><%= thread.title %></h3>
        <!-- Thread title -->
        <input class="editable thread-title" value="" name="threadTitle">

        <hr>
        <!-- Thread body -->
        <b>Body:</b> 
        <p class="thread-body"><%= thread.body %></p>
        <textarea class="editable thread-body" value="" name="threadBody"></textarea>
        <hr>
        <input type="hidden" class="thread-id" name="threadId" value="<%= thread.id %>">
        <input type="submit" value="Submit" class="editable save">
        <input type="submit" value="Cancel" class="editable cancel">
      </form>
    </div>    <!-- End of col-md-12 -->
  </div>      <!-- End of row -->
</div>        <!-- End of container -->


<!-- 
  Note to CB:
√  Click 'Edit' button, store current values in variable(?)
√  Input text boxes/text areas appear with current values
   Upon clicking submit, replace the html with the new values
   Else the inner html remains the same
-->